﻿﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul id="nav" class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {


        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><font color="#8DA242">Dashboard</font> </a>
        </li>

       
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="FoodIntake" asp-action="MyRecords"> <font color="#FFFFFF">My Records</font></a>
            <!--
            <ul class="dropdown">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="FoodIntake" asp-action="FoodIntake"> <font color="#FFFFFF">FoodIntake</font></a>
            </ul>-->
        </li>


        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="FoodIntake" asp-action="FoodIntake"> <font color="#FFFFFF">Food Intake</font></a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs"><font color="#FFFFFF">Contact Us</font> </a>
        </li>




        <li class="nav-item" style="margin-left: 50px">
            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="" onclick="openAdmin()"><font color="#FFFFFF">|</font> </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light buttonsize">Logout</button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Landing"><font color="#fffff"> Home</font> </a>
        </li>
        <li class="nav-item">
             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs"><font color="#fffff"> About Us</font> </a>
        </li>
        <li class="nav-item">
             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs"><font color="#fffff"> Contact Us</font> </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

<script>
    function openAdmin() {
        window.open("../adminpanel");
    }
</script>

<style>
    /* Dropdown button */
    .dropdown {
        align-content: center;
        border: solid;
        border-right-width: 25px;
        outline: none;
        color: #232323;
        background-color: #232323;
        font-size: 25px;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
    }

</style>