
Capstone_23_Proteine/obj/Capstone_23_Proteine.csproj.nuget.dgspec.json
Capstone_23_Proteine/obj/Capstone_23_Proteine.csproj.nuget.g.props
Capstone_23_Proteine/obj/Debug/net6.0/Capstone_23_Proteine.assets.cache
Capstone_23_Proteine/obj/Debug/net6.0/Capstone_23_Proteine.csproj.AssemblyReference.cache
Capstone_23_Proteine/obj/Debug/net6.0/Capstone_23_Proteine.GeneratedMSBuildEditorConfig.editorconfig
Capstone_23_Proteine/obj/Debug/net6.0/project.razor.vs.json
Capstone_23_Proteine/obj/project.assets.json
Capstone_23_Proteine/obj/project.nuget.cache
