@model Capstone_23_Proteine.Models.FoodIntakeViewModel

@{
}

<div style="background-color:#FFFF; padding:50px; border-radius:25px;">
	<div class="text-center">
        <h1> Food Intake </h1>
    </div>
    <div style="display: flex; align-content:center;">  
        <div class="margin-left">
            <br />
            <br />
            <img src="~/Image/Chicken.png" class="width="350" height="350"/>
        </div>
        <div style="margin-left: 50px;">
            <form method="post" action="FoodIntake" class="mt-5">
                <div class="foodIntakeAlign , text-left">
                    <div class="mb-3">
                        <label for="" class="form-label">Protein</label>
                        <input type="number" class="form-control" asp-for="Protein">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Calories</label>
                        <input type="number" class="form-control" asp-for="Calories">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Fat</label>
                        <input type="number" class="form-control" asp-for="Fat">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">MealName</label>
                        <input type="text" class="form-control" asp-for="MealName">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Date</label>
                        <input type="date" class="form-control" asp-for="Date">
                    </div>

                    <div class="submitBTNFI">
                        <button style="background-color: #A7BC5B; border-color: #A7BC5B;  "type="submit" class="btn btn-primary">Submit</button>
                    </div>
<h1> Food Intake </h1>
<form method="post" action="FoodIntake" class="mt-5">
    <div class="aboutmealign , text-left">
    <div class="mb-3">
        <label for="" class="form-label">Protein</label>
        <input type="number" class="form-control" asp-for="Protein">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Calories</label>
        <input type="number" class="form-control" asp-for="Calories">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Fat</label>
        <input type="number" class="form-control" asp-for="Fat">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">MealName</label>
        <input type="text" class="form-control" asp-for="MealName">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Date</label>
        <input type="date" class="form-control" asp-for="Date">
    </div>

                </div>
            </form>
        </div>
    </div>
    </div>
</form>
