@page
@model Capstone_23_Proteine.Areas.Identity.Pages.Account.Manage.IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

<div class="text-center">
    <!--the tags below are headers for the options that the user chose in the "About Me" page,
    the information will be imported next to these headers for the user to view-->
    <h1>My Details</h1>
</div>
<div class="aboutmealign">
    <p>

    <p>Full name:</p>
    <p>Gender: </p>
    <p>Height: </p>
    <p>Weight: </p>
    <p>Date Of Brith:</p>
    <p>Dietary Option: </p>
    <p>Activity: </p>

    <!--this is the code for the edit button, this leads the user to the about me page where they can update their profile-->
    <script>
        function openWins() {
            window.open("../AboutMe/AboutMe");
        }
    </script>

    <form>
        <input type="button" value="Edit" onclick="openWins()">
    </form>

</div>

<div class="row">
    <div class="col-md-6">
        <form>
            <div class="form-floating">
                <input "FirstName" class="form-control" disabled />
                <label "FirstName" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input "LastName" class="form-control" disabled />
                <label "LastName" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input text="Gender" class="form-control" disabled />
                <label text="Gender" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input text="Height" class="form-control" disabled />
                <label text="Height" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input text="Weight" class="form-control" disabled />
                <label text="Weight" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input text="DateOfBirth" class="form-control" disabled />
                <label text="DateOfBirth" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input text="DietaryOptions" class="form-control" disabled />
                <label text="DietaryOptions" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input text="UserActivity" class="form-control" disabled />
                <label text="UserActivity" class="form-label"></label>
            </div>
            <button href="../AboutMe/AboutMe" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
