@{
    ViewData["Title"] = "Landing";
}

<div>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Image/Cereal.png" class="d-block w-100" width="600" height="600" alt="~/Image/Cereal.png">
            </div>
            <div class="carousel-item">
                <img src="~/Image/Chicken.png" class="d-block w-100" width="600" height="600" alt="~/Image/Chicken.png">
            </div>
            <div class="carousel-item">
                <img src="~/Image/FruitBowl.png" class="d-block w-100" width="600" height="600" alt="~/Image/FruitBowl.png">
            </div>
            <div class="carousel-item">
                <img src="~/Image/VegMeal.png" class="d-block w-100" width="600" height="600" alt="~/Image/VegMeal.png">
            </div>
            <div class="carousel-item">
                <img src="~/Image/anotherinfo.png" class="d-block w-100" width="600" height="600" alt="~/Image/anotherinfo.png">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


        <div class="clearfix" style="padding: 30px;">
            <img src="~/Image/anotherinfo.png" class="col-md-6 float-md-end mb-3 ms-md-3" width="200" height="250" alt="~/Image/ProteineLogo.png">
       

            <h2>
                Stay Motivated.
            </h2>
            <p>
                Join the World’s Largest Fitness Community for advice, tips, and support 24/7.
            </p>

        </div>

        <div class="clearfix" style="padding: 30px;">

            <img style="padding-right: 30px;" src="~/Image/Chicken.png" class="col-md-6 float-md-start mb-3 ms-md-3" width="200" height="250" alt="~/Image/Chicken.png">
            
                <div style="text-align: right;">
                <h2>
                Logging Simplified.
                </h2>
                </div>
           
            <p>
                <div style="text-align: right; margin-left: 350px;">
                Scan barcodes, save meals and recipes, and use Quick Tools for fast and easy food tracking.
                </div>
            </p>
         
        </div>

        <div class="clearfix" style="padding: 30px;">
            <img src="~/Image/FruitBowl.png" class="col-md-6 float-md-end mb-3 ms-md-3" width="200" height="250" alt="~/Image/FruitBowl.png">

        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>

            <h2>
                Learn Track Improve
            </h2>

            <p >
                Keeping a food diary helps you understand your habits and increases your likelihood of hitting your goals.
            </p>
        </div>

    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>


