@{
    ViewData["Title"] = "Landing";
}

<div>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Image/Cereal.png" class="d-block w-100" width="600" height="600" alt="~/Image/ProteineLogo.png">
            </div>
            <div class="carousel-item">
                <img src="~/Image/Chicken.png" class="d-block w-100" width="600" height="600" alt="~/Image/ProteineLogo.png">
            </div>
            <div class="carousel-item">
                <img src="~/Image/FruitBowl.png" class="d-block w-100" width="600" height="600" alt="~/Image/ProteineLogo.png">
            </div>
            <div class="carousel-item">
                <img src="~/Image/VegMeal.png" class="d-block w-100" width="600" height="600" alt="~/Image/ProteineLogo.png">
            </div>
            <div class="carousel-item">
                <img src="~/Image/anotherinfo.png" class="d-block w-100" width="600" height="600" alt="~/Image/ProteineLogo.png">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="layoutalign">

    <h2>Good health starts with what you eat.</h2>

    <p>
        Want to eat more mindfully? Track meals, learn about your habits, and reach your goals with MyFitnessPal.
    </p>

    <h2 style="text-align:right; margin-top: 120px;">
        Log from over 14 million foods.
    </h2>
    <p style="text-align:right;">
        See a breakdown of calories and nutrients, compare serving sizes, and discover how the food you eat supports your goals.
    </p>

    <div style="text-align:center; margin-top: 120px;">
    <h2>
        Learn Track Improve
    </h2>

    <p>
        Keeping a food diary helps you understand your habits and increases your likelihood of hitting your goals.
    </p>

    <h2>
            Logging Simplified.
    </h2>
    <p>
            Scan barcodes, save meals and recipes, and use Quick Tools for fast and easy food tracking.
    </p>

        <h2>
            Stay Motivated.
    </h2>
    <p>
            Join the World’s Largest Fitness Community for advice, tips, and support 24/7.
    </p>
    </div>
    </div>
</div>

