@{
    ViewData["Title"] = "Landing";
}

<div class="layoutalign">
    <h2>Good health starts with what you eat.</h2>

    <p>
        Want to eat more mindfully? Track meals, learn about your habits, and reach your goals with MyFitnessPal.
    </p>

    <h2 style=text-align:right;>
        Log from over 14 million foods.
    </h2>
    <p style=text-align:right;>
        See a breakdown of calories and nutrients, compare serving sizes, and discover how the food you eat supports your goals.
    </p>
</div>