@{
    ViewData["Title"] = "MyDetails";
}

<div class="text-center">

    <h1>My Details</h1>
</div>
<div class="aboutmealign">
    <p>

    <p>Full name:</p>
    <p>Gender: </p>
    <p>Height: </p>
    <p>Weight: </p>
    <p>Date Of Brith:</p>
    <p>Dietary Option: </p>
    <p>Activity: </p>

    <script>
        function openWin() {
            window.open("AboutMe");
        }
    </script>

        <form>
            <input type="button" value="Edit" onclick="openWin()">
        </form>
</div>