@{
    ViewData["Title"] = "MyRecords";
}


<div>

    <h1 style="text-align: center;">MyRecords</h1>
    <br />
</div>


<h2 style="text-align: center;"> Meals </h2>

<div class="paraMar" style="font-size: 20px;">


    <p>   </p>
    <p>protein: </p>
    <p> Calories : </p>
    <p> Fat : </p>
    <p> Name of the Meal : </p>
    <p>Date : </p>



</div>