@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br />


<p>We collect personal information from you, including information about your:</p>
<br />
<p>Name</p>    
<p>Contact information</p>    
<p>Computer or network</p>    
<p>Interactions with us</p>    
<br />    
<p>We collect your personal information in order to:</p>    
<br />
<p>Setup user personalized user accounts</p>
<p>Track the users food intake so that we can personalize your calorie intake for the day</p>    
<br />    
<p>Besides our staff, we share this information with:</p>
<br />
<p>No one in order to make sure that you information is not shared.</p>
<p>Providing some information is optional. If you choose not to enter there email or password, we'll not be able to create an account for the user.</p>    
<p>We keep your information safe by storing it in an encrypted database and only allowing only those staff required to view it .</p>    
<br />
<p>We keep your information for two years at which point we securely destroy it by securely destroy it.</p>    
<p>You have the right to ask for a copy of any personal information we hold about you, and to ask for it to be corrected if you think it is wrong. If you’d like to ask for a copy of your information, or to have it corrected, please contact us at the Proteine Team.</p>    

