@{
    ViewData["Title"] = "AboutUs";
}

<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">
    <div class="clearfix" style="padding: 60px;">

        <img style="padding-right: 30px;" src="~/Image/ProteineLogo.png" class="col-md-6 float-md-start mb-3 ms-md-3" width="250" height="250" alt="~/Image/Chicken.png">
        <div>
            <h1 style="font-weight:bold;">
                What is Proteine..
            </h1>
        </div>
        <p>
            <div style="margin-left;">
                Proteine is a powerful tool designed to assist users in easily tracking the nutritional value of their food to achieve their goals, 
                such as weight loss or weight gain for maintaining optimal health. The tool focuses on tracking three main nutritional values: protein, 
                fat, and calories. By monitoring these key factors, users can gain a better understanding of their dietary intake and make informed 
                choices to align with their specific goals.
            </div>
        </p>
    </div>
</div>
<br />
<br />

<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">
    <div class="clearfix" style="padding: 60px;">
        <img src="~/Image/Happy people.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" width="350" height="350" alt="~/Image/ProteineLogo.png">


        <h1 style="font-weight:bold;">
            Who is it for..
        </h1>

        <p>
            To ensure effective usage of Proteine, users are advised to have a diet plan provided by a nutritionist or healthcare professional. 
            This personalized plan serves as a guideline for users, helping them track their progress accurately and tailor their nutritional intake accordingly. 
            By following the recommendations of a professional, users can optimize their food choices and make adjustments when necessary to meet their goals in a 
            healthy and sustainable manner.
        </p>
    </div>
</div>
<br />
<br />

<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">
    <div class="clearfix" style="padding: 60px;">
        <img style="padding-right: 30px;" src="~/Image/SOme_cryspy.png" class="col-md-6 float-md-start mb-3 ms-md-3" width="250" height="250" alt="~/Image/Chicken.png">


        <h1 style="font-weight:bold;">
            How does it work?
        </h1>

        <p>
            Proteine simplifies the tracking process by offering an intuitive interface where users can input their meals and receive immediate feedback on 
            the nutritional values of the foods they consume. This feedback empowers users to make informed decisions about their diet, making it easier for 
            them to stay on track with their goals.
        </p>
    </div>
</div>
<br />
<br />

<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">
    <div class="clearfix" style="padding: 60px;">
        <img src="~/Image/MOOD.png" class="col-md-6 float-md-end mb-3 ms-md-3" width="350" height="350" alt="~/Image/ProteineLogo.png">


        <h1 style="font-weight:bold;">
            What else can it do?
        </h1>

        <p>
            In addition to tracking nutritional values, Proteine may also provide features such as meal planning, recipe suggestions, and progress monitoring. 
            These additional functionalities enhance the user experience, making it easier for individuals to adhere to their diet plan and stay motivated on their 
            journey towards improved health and well-being.
        </p>
    </div>
</div>
<br />
<br />

<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">
    <div class="clearfix" style="padding: 60px;">
        <img style="padding-right: 30px;" src="~/Image/accuracy.png" class="col-md-6 float-md-start mb-3 ms-md-3" width="250" height="250" alt="~/Image/Chicken.png">


        <h1 style="font-weight:bold;">
            How accurate is it..
        </h1>

        <p>
            Please note that while Proteine is a hypothetical tool, many real-life nutrition tracking applications and platforms exist that offer 
            similar functionalities to help individuals track their nutritional intake and meet their specific goals.
        </p>
    </div>
</div>
<br />
<br />