@{
    ViewData["Title"] = "AboutUs";
}

<div class="text-center" style="margin-bottom:500px; background-color:#ffff; padding:25px; border-radius:45px;">
    <h1 style="margin-bottom:50px;">About Us</h1>

    <p>
        Proteine is a tool to track nutritional value of food so that the users can meet their goals easily.
        <br>
        These goals may be to lose weight or gain weight to stay healthy.
        <br>
        Proteine tracks the main nutritional values of foods which are: Protein, Fat and Calories.
        <br>
        <br>
        Users must have their diet plan to track which can be given to them from a nutritionist.
    </p>

</div>