
@{
    ViewData["Title"] = "Chicken_pad";
}


<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">

<div class="row no-gutters" style="text-align: center ;">
    <div class="col">
        <div class="leftside1">
            <h1 style="text-align: center ; font-size: 40px ;">
                Quick and Easy Chicken Pad Thai
            </h1>
            <br />
            <br />
            <p style="text-align: center ;">
Everyone needs a great Pad Thai in their life. This quick and easy version is a weeknight favourite when time is tight. Heat up the wok and make this faster than ordering takeaways!        </div>
        <div class="leftside2">
            <h3 style="text-align: left ;">
                <b>
                    Ingredients
                </b>
            </h3>
            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style=" margin-inline-start: 30px ; font-size: 20px ;">
               
                <p style="text-align: left ;">
                    200g dry thick Pad Thai rice noodles
                </p>

                <p style="text-align: left ;">
                    1 Tbsp peanut oil
                </p>

                <p style="text-align: left ;">
1 medium onion, halved and sliced lengthwise
                </p>

                <p style="text-align: left ;">
                    400g skinless chicken breast fillets, cut into strips
                </p>

                <p style="text-align: left ; ">
                    2 eggs, beaten
                </p>

                <p style="text-align: left ;">
                    210g pouch Wattie's WOK Creations Pad Thai Stir-Fry Sauce
                </p>

                <p style="text-align: left ; ">
                    2 Spring onions, sliced on an angle
                </p>


                <p style="text-align: left ;">
                    100g bean sprouts
                </p>

                <p style="text-align: left ;">
                    Handful of fresh coriander leaves, chopped
                </p>

                <p style="text-align: left ; ">
                    ⅓ cup roasted peanuts, roughly chopped
                </p>

                <p style="text-align: left ;">
                    Lime or lemon wedges (optional)
                </p>

            </div>
        </div>


    </div>

    <div class="col">
        <div class="rightside1">
            <img src="/Image/Quick-and-Easy-Chicken-Pad-Thai.png" width="300px" height="250px" />
            <br />
            <br />

        </div>
        <div class="rightside2">
            <h3 style="text-align: left ;">
                <b>
                    Method
                </b>
            </h3>

            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style="margin-inline-start: 30px ; font-size :20px">


                <h5 style="text-align: left ;">
                    <b>
                        Step 1
                    </b>
                </h5>
                <p style="text-align: left ; max-width: 400px ;">
Cook the noodles in plenty of boiling water for approx. 5-7 minutes or until just tender (or according to directions on the packet). Drain. Refresh in cold water and drain again.
                    <h5 style="text-align: left ;">
                          <b>
                            Step 2
                        </b>

                    </h5>
                <p style="text-align: left ; max-width: 400px ;">
Heat peanut oil in a wok or frying pan over medium heat. Add the onion and stir-fry until it starts to soften. Increase the heat to high. Add the chicken strips and stir-fry until golden and nearly cooked.                </p>
                <h5 style="text-align: left ;">
                    <b>
                        Step 3
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
Add the beaten eggs and stir-fry until just scrambled and set.
                <h5 style="text-align: left ;">
                    <b>
                        Step 4

                    </b>
                </h5>
                <p style="text-align: left ; max-width: 400px ;">
                    Reduce the heat to medium. Add the cooked noodles and Wattie's WOK Creations Pad Thai Stir-Fry Sauce. Toss for 1-2 minutes until the noodles and chicken are coated and sauce is hot. Toss through the spring onions, bean sprouts, coriander and half the chopped peanuts.
                </p>
                <h5 style="text-align: left ;">
                    <b>
                        Step 5
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
                    Serve in bowls garnished with the remaining chopped peanuts and a wedge of lime or lemon, if wished.
            </div>
        </div>

    </div>



</div>

                    </diV>