
@{
    ViewData["Title"] = "Chicken_and_";
}

<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">
<div class="row no-gutters" style="text-align: center ;">
    <div class="col">
        <div class="leftside1">
            <h1 style="text-align: center ; font-size: 40px ;">
                Chicken and Mushroom Filo Parcels
            </h1>
            <br />
            <br />
            <p style="text-align: center ;">
Creamy chicken wrapped in crispy filo pastry makes a special treat. The condensed soup is the secret ingredient in this, full of flavour and perfect for creating a delicious filling for these parcels.            </p>
        </div>
        <div class="leftside2">
            <h3 style="text-align: left ;">
                <b>
                    Ingredients
                </b>
            </h3>
            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style=" margin-inline-start: 30px ; font-size: 20px ;">
                <p style="text-align: left ;">
                    400 g chicken breast fillets, diced
                </p>

                <p style="text-align: left ;">
                    2 Tbsp flour seasoned with salt and pepper
                </p>

                <p style="text-align: left ;">
                    1 onion, finely diced
                </p>

                <p style="text-align: left ;">
                    100 g button mushrooms, roughly chopped
                </p>

                <p style="text-align: left ; ">
                    420 g can Wattie's Condensed Creamy Chicken Soup
                </p>

                <p style="text-align: left ;">
                    2 Tbsp sour cream
                </p>

                <p style="text-align: left ; ">
                    1 handful freshly chopped parsley
                </p>

                <p style="text-align: left ;">
                    18 sheets filo pastry
                </p>

              
            </div>
        </div>


    </div>

    <div class="col">
        <div class="rightside1">
            <img src="/Image/Chicken-and-Mushroom-Filo-Parcels_recipeimage.png" width="300px" height="250px" />
            <br />
            <br />

        </div>
        <div class="rightside2">
            <h3 style="text-align: left ;">
                <b>
                    Method
                </b>
            </h3>

            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style="margin-inline-start: 30px ; font-size :20px">


                <h5 style="text-align: left ;">
                    <b>
                        Step 1
                    </b>
                </h5>
                <p style="text-align: left ; max-width: 400px ;">
                    Toss chicken in seasoned flour.
                </p>
                <h5 style="text-align: left ;">
                    <b>
                        Step 2
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
Heat a dash of oil in a frying pan. Stir fry chicken to colour. Add onion and mushrooms. Cook for 2 minutes. Pour over Wattie's Condensed Creamy Chicken Soup. Stir. Simmer for 10 minutes, until chicken is cooked. Stir in sour cream and parsley. Cool completely.                </p>
                <h5 style="text-align: left ;">
                    <b>
                        Step 3
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
Spray a sheet of filo with oil. Place a second oiled sheet on top, and top with a third sheet. Place 1/6 of the chicken mixture into the middle of the bottom third of the filo. Fold in pastry sides and roll. Repeat to make 6 parcels. Place parcels seam side down on a greased baking tray. Spray tops with oil. Bake at 200°C for 20-25 minutes.                </p>
               

            </div>
        </div>

    </div>



</div>
</div>