
@{
    ViewData["Title"] = "Crispy_Falafels";
}
<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">

<div class="row no-gutters " style="text-align: center;">
    <div class="col">
        <div class="leftside1">
             <h1 style="text-align: center ; font-size: 40px ;">
                Crispy Spiced Falafels
             </h1>
             <br />
             <p>
                 Calories: 303 Kcal
                 
             </p>
             <p>
                 Protein: 16g
             </p>
             
             <p>
                 Fat: 6g
             </p>


             <br />
             <br />
             <p style="text-align: center ;">
                Crispy, spicy falafel goodness. Try our quick and easy falafels - perfect in a pita pocket with salad and our delicious mint yoghurt dressing.
             </p>

                 

        </div>
        <div class="leftside2">

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            <h3 style="text-align: left ;">
                <b>
                    Ingredients
                </b>
            </h3>
            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style=" margin-inline-start: 30px ; font-size: 20px ;">
            <p style="text-align: left ;">
                400g can Wattie's Chickpeas in Springwater
            </p>

            <p style="text-align: left ;"> 
                1 clove garlic, chopped
            </p>

            <p style="text-align: left ;">
                1 small red onion, chopped
            </p>

            <p style="text-align: left ;">
                1 Tbsp tomato paste
            </p>

            <p style="text-align: left ; ">
                1 tsp smoked paprika
            </p>

            <p style="text-align: left ;">
                1 tsp Gregg's Ground Cumin
            </p>

            <p style="text-align: left ; ">
                Handful fresh parsley leaves
            </p>

            <p style="text-align: left ;">
                1 ½ Tbsp chickpea flour
            </p>

            <p style="text-align: left ;">
                Yoghurt and Mint Dressing:
            </p>

            <p style="text-align: left ; ">
                ½ cup natural unsweetened yoghurt
            </p>

            <p style="text-align: left ;">
                Handful mint leaves, chopped
            </p>

            <p style="text-align: left ;">
                Squeeze of lemon to taste
            </p>
            </div>
        </div>


    </div>

    <div class="col">
        <div class="rightside1">
            <img src="/Image/SOme_cryspy.png" width="300px" height="250px"/>
            <br />
            <br />
           
        </div>
        <div class="rightside2">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            <h3 style="text-align: left ;" >
                <b>
                    Method
                </b>
            </h3>

            <hr style="height 5px; width: 500px ;" />
                <br />

                <div style="margin-inline-start: 30px ; font-size :20px">

                
                <h5 style="text-align: left ;">
                    <b>
                        Step 1
                    </b>
                </h5>
               <p style="text-align: left ; max-width: 400px ;">
                    Drain Wattie's Chickpeas and then dry chickpeas on paper towels to absorb as much of the moisture as possible. Transfer them in a food processor.
               </p>
            <h5 style="text-align: left ;">
                <b>
                    Step 2
                </b>
                
            </h5>
            <p style="text-align: left ; max-width: 400px ;">
                Add garlic, onion, tomato paste, smoked paprika and Ground Cumin, parsley and chickpea flour. Season with salt and pepper. Process until mixture binds together but still has a bit of texture.

            </p>
            <h5 style="text-align: left ;">
                <b>
                    Step 3
                </b>

            </h5>
            <p style="text-align: left ; max-width: 400px ;">
                Shape mixture into 8 small patties. Place on a tray and refrigerate for 10 minutes.
            </p>
            <h5 style="text-align: left ;">
                <b>
                    Step 4
                </b>

            </h5>
            <p style="text-align: left ; max-width: 400px ;">
                Heat 2 Tbsp of olive oil in a small frying pan and cook falafels over a medium heat for 3-4 minutes on each side until golden and hot.
            </p>
            <h5 style="text-align: left ;">
                <b>
                    Step 5
                </b>

            </h5>
            <p style="text-align: left ; max-width: 400px ;">
                Serve with yoghurt and mint dressing and a crisp green salad on the side. Alternatively fill pita pockets with falafels, salad and yoghurt and mint sauce.
            </p>


            <h5 style="text-align: left ;">
                To Make Yoghurt and Mint Dressing:
            </h5>
            <br />
            <h5 style="text-align: left ;">
                <b>
                    Step 1
                </b>
               
            </h5>
            <p style="text-align: left ; max-width: 400px ;">
                Mix ingredients together, adding enough lemon juice to taste.
            </p>
            </div>
        </div>

    </div>

    
        
</div>

</div>
