@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Set Goals</title>
</head>
<body>
    <h1>Set Goals</h1>

    <form>
        <!-- Add your goal-setting form fields here -->
        <label for="weightGoal">Weight Goal:</label>
        <input type="number" id="weightGoal" name="weightGoal" />

        <label for="calorieGoal">Calorie Goal:</label>
        <input type="number" id="calorieGoal" name="calorieGoal" />

        <label for="proteinGoal">Protein Goal:</label>
        <input type="number" id="proteinGoal" name="proteinGoal" />

        <button type="submit">Save</button>
    </form>

</body>
</html>
