
@{
    ViewData["Title"] = "Lamb";
}

<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">

<div class="row no-gutters" style="text-align: center ;">
    <div class="col">
        <div class="leftside1">
            <h1 style="text-align: center ; font-size: 40px ;">
                Mediterranean Lamb
            </h1>
            <p>
                Calories: 290 Kcal
            </p>
            <p>
                Protein: 32g
            </p>
            <p>
                Fat: 2g
            </p>
            <br />
            <br />
            <p style="text-align: center ;">
                Spanish Pisto - a tasty twist on a hearty vegetable stew. This tasty mix of fresh, seasonal vegetables baked with eggs is a staple for the colder months. Serve with ciabatta to soak up every last bit of goodness.
            </p>
        </div>
        <div class="leftside2">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            <h3 style="text-align: left ;">
                <b>
                    Ingredients
                </b>
            </h3>
            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style=" margin-inline-start: 30px ; font-size: 20px ;">
                <p style="text-align: left ;">
                    Marinade
                </p>

                <p style="text-align: left ;">
                    2 cloves garlic, crushed
                </p>

                <p style="text-align: left ;">
                    1 tsp ground cumin
                </p>

                <p style="text-align: left ;">
                    2 Tbsp chopped mint
                </p>

                <p style="text-align: left ; ">
                    2 Tbsp chopped fresh coriander
                </p>

                <p style="text-align: left ;">
                    1 Tbsp olive oil
                </p>

                <p style="text-align: left ; ">
                    1 tsp runny honey
                </p>

                <p style="text-align: left ;">
                    juice of half an orange
                </p>

                <p style="text-align: left ;">
                    zest of half an orange
                </p>

                <p style="text-align: left ; ">
400 g Silver Fern Farms Lamb Rumps
                </p>
                <p style="text-align: left ;">
                    <b>
                        Carrot and Parsnip Mash

                    </b>

                </p>

                <p style="text-align: left ;">
2 large carrots, peeled and chopped
                </p>

                <p style="text-align: left ;">
2 large parsnips, peeled and chopped
                </p>
                <p style="text-align: left ;">
                    15 g butter
                </p>
            </div>
        </div>


    </div>

    <div class="col">
        <div class="rightside1">
            <img src="/Image/Mediterranean-Lamb_recipeimage.png" width="300px" height="250px" />
            <br />
            <br />

        </div>
        <div class="rightside2">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            <h3 style="text-align: left ;">
                <b>
                    Method
                </b>
            </h3>

            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style="margin-inline-start: 30px ; font-size :20px">


                <h5 style="text-align: left ;">
                    <b>
                        Step 1
                    </b>
                </h5>
                <p style="text-align: left ; max-width: 400px ;">
                     Place the marinade ingredients into a bowl and whisk to combine.
                </p>
                <h5 style="text-align: left ;">
                    <b>
                        Step 2
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
 Place the Silver Fern Farms Lamb Rumps in a non-metallic dish. Pour over the marinade. Cover. Refrigerate for 15 minutes.                </p>
                <h5 style="text-align: left ;">
                    <b>
                        Step 3
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
Preheat the oven to 200°C. Remove lamb from marinade and place in a roasting dish. Roast meat for 15-25 minutes depending on desired rareness. Rest for 5 minutes before slicing and serving. Serve with carrot and parsnip mash.                </p>
                <h5 style="text-align: left ;">
                    <b>
                        Step 4
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
                    Carrot and Parsnip Mash
                </p>

                 <h5 style="text-align: left ;">
                    <b>
                        Step 5
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
                    Cook the carrots and parsnips in boiling lightly salted water until tender. Drain well.
                </p>

                <h5 style="text-align: left ;">
                    <b>
                        Step 6
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
                    Mash with the butter. Season with plenty of ground black pepper.
                </p>

            </div>
        </div>

    </div>



</div>

                    </div>