
@{
    ViewData["Title"] = "MEd_salad";
}

<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">

<div class="row no-gutters" style="text-align: center ;">
    <div class="col">
        <div class="leftside1">
            <h1 style="text-align: center ; font-size: 40px ;">
                Mediterranean Salad with Pea Falafels            </h1>
            <br />
            <br />
            <p style="text-align: center ;">
Here’s the ultimate Mediterranean bowl made with falafels – a popular Middle Eastern food made of chickpeas mixture and formed into small patties. A fresh and flavourful salad – try serving inside pita pockets or in a wrap.        </div>
        <div class="leftside2">
            <h3 style="text-align: left ;">
                <b>
                    Ingredients
                </b>
            </h3>
            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style=" margin-inline-start: 30px ; font-size: 20px ;">
                <h5 style="text-align: left ;">
                    <b>
                        Pea Falafels:
                    </b>
                </h5>
                <p style="text-align: left ;">
1 - ½ cups (150g) Wattie's frozen Baby Peas                </p>

                <p style="text-align: left ;">
                    400g can Wattie's Chickpeas in Springwater
                </p>

                <p style="text-align: left ;">
                    2 Tbsp red onion, diced
                </p>

                <p style="text-align: left ;">
                    1 clove garlic, crushed
                </p>

                <p style="text-align: left ; ">
                    Handful fresh parsley leaves, chopped
                </p>

                <p style="text-align: left ;">
1 tsp Gregg's Whole  Cumin Seeds
                </p>

                <p style="text-align: left ; ">
                    Zest from ½ lemon
                </p>

                <h5 style="text-align: left ;">
                    <b>
                        Mediterranean Salad Bowl:

                    </b>
                </h5>

                <p style="text-align: left ;">
                    120g baby spinach leaves or kale (or a mix of both)
                </p>

                <p style="text-align: left ;">
                    100g cherry tomatoes, quartered
                </p>

                <p style="text-align: left ; ">
                    ½ cup chopped parsley
                </p>

                <p style="text-align: left ;">
1 small red onion, finely sliced
                </p>

                <p style="text-align: left ;">
                    12-15 pitted black olives, halved (optional)
                </p>

                <p style="text-align: left ;">
                    175g container Just Hummus with Beetroot & Roasted Garlic
                </p>

                <p style="text-align: left ;">
                    2 Tbsp olive oil
                </p>

                <p style="text-align: left ;">
                    2 Tbsp Juice from ½ lemon - 2 Tbsp
                </p>
            </div>
        </div>


    </div>

    <div class="col">
        <div class="rightside1">
            <img src="/Image/Mediterranean-Salad-with-Pea-Falafels_recipeimage.png" width="300px" height="250px" />
            <br />
            <br />

        </div>
        <div class="rightside2">
            <h3 style="text-align: left ;">
                <b>
                    Method
                </b>
            </h3>

            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style="margin-inline-start: 30px ; font-size :20px">


                <h5 style="text-align: left ;">
                    <b>
                        Step 1
                    </b>
                </h5>
                <p style="text-align: left ; max-width: 400px ;">
Place the Wattie's frozen Baby Peas in a sieve and run hot water through them to defrost. Place in a food processor with the drained Wattie's Chickpeas, red onion, garlic, parsley, Gregg's Whole Cumin Seeds, chickpea flour and lemon zest. Process until mixture binds together but still has some texture. If the mixture is a bit too wet add a little extra chickpea flour. Season with salt and pepper to taste.                <h5 style="text-align: left ;">
                    <b>
                        Step 2
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
Shape the mixture into 12 - 15 small patties. Place on a tray and refrigerate for 15 minutes.                </p>
                <h5 style="text-align: left ;">
                    <b>
                        Step 3
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
Heat 2 Tbsp of olive oil in a small frying pan and cook the falafels over medium to low heat for 3-4 minutes each side or until golden and hot. Serve with the salad.     
               
                  <p style="text-align: left ;"> 
                      <b>
                        Mediterranean Salad Bowl:

                      </b>
                  </p>
                <h5 style="text-align: left ;">
                    <b>
                        Step 1
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
                    Place spinach leaves, parsley, tomatoes, red onion and olives into a bowl. Top with falafels and a good dollop of Just Hummus with Beetroot & Roasted Garlic. Whisk
                  together lemon juice and olive oil and drizzle over the salad.
            </div>
        </div>

    </div>



</div>
</div>
