
@{
    ViewData["Title"] = "Mediterranean_Diet";
}

<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">


<h1 style="color: #8DA242; text-align: center ; "> <b>  The Performance Benefits of the Mediterranean Diet </b></h1>
<br />
<div class="container" style="text-align: center ; max-width: 650px ;">
    <img src="/Image/Something.png" />



    <br />
    <br />
    <p style="text-align: left ;">
        One diet continuously tops the list when it comes to researched health benefits: the Mediterranean diet. While labeled a ‘diet’ in mainstream media, this is not about restriction. The word ‘diet’ is used here to encompass a way of eating and foods consumed, not necessarily a plan to reduce weight. While well recognized for improving health, the Mediterranean diet is also good for improving athletic performance.
    </p>
    <br />
    <p style="text-align: center ; font-size: 30px ; " class=" border border-5">
        MEDITERRANEAN DIET HIGHLIGHTS
    </p>
    <br />
    <p style="text-align: left ;">
        The Mediterranean diet prioritizes consuming foods that are seasonal and local to countries bordering the Mediterranean Sea, including regions of France, Greece, Italy and Spain. Exact foods consumed can vary throughout these regions, but overall, the diet is characterized by a balanced intake of minimally processed whole foods that are high in antioxidants, healthful fats and fiber.
    </p>
    <p style="text-align: left;">
        Key foods consumed include:
    </p>

    <ol style="text-align: left ;"> 
        <li> Olive oil </li>
        <li> Chickpeas </li>
        <li> Vegetables </li>
        <li> lentils </li>
        <li> Fish  </li>
        <li> Fruit </li>
        <li> Potatoes   </li>
        <li>
            Whole-grain bread
        </li>
        <li>
            Nuts, seeds and herbs
        </li>

    </ol>
    <p style="text-align: left ;">
        Other ingredients more common in Western diets such as meats, cheeses, sweets and highly refined ingredients are generally avoided, but not off-limits. These ‘Western’ foods should be consumed in small amounts as side dishes or accompaniments, not the main ingredient.

    </p>

    <br />
    <p style="text-align: center ; font-size: 30px ; " class=" border border-5">
        PERFORMANCE BENEFITS OF THE MEDITERRANEAN DIET
    </p>
    <p style="text-align: left ;">
        Mediterranean eating has long been recognized for its benefit to cardiovascular health, in fact, a 10-year study associated the ‘diet’ with a 47% reduced risk in heart disease. Those heart-healthy benefits might extend to athletic performance as endurance exercise relies heavily on a well-functioning cardiovascular system and a heart beating efficiently to deliver blood throughout the body to working muscles. In a 2019 study, a small group of 5K runners put this to the test. After 4 days of consuming a Western diet (Think: steak, fries, side salad and soda), they raced. The same runners repeated the race effort after 4 days of consuming a Mediterranean diet. Even 4 short days of Mediterranean eating led to 6% faster 5K times — that’s more than a minute off an 8-minute/mile 5K.
    </p>
    <br />
    <p style="text-align: left ;">
        A separate study looking at the diets and motivation in sport found athletes with higher adherence to a Mediterranean diet were more motivated toward achieving athletic success. The diet is rich in unsaturated fat and omega-3 fatty acids which boost the brain’s capacity for nerve transmission; improving mood, cognition and focus. These factors can play a large role in improving an athlete’s determination and motivation.
    </p>
    <br />
    <p style="text-align: left ;">
        Another way this eating style benefits performance is through the high consumption of antioxidants. Hard training creates oxidative stress and damage to the body’s tissues. Antioxidants work to clear and repair this damage, creating stronger tissues and enhancing recovery. Athletes who lack dietary antioxidants could see slower performance gains. It is important to note that antioxidants seem to have a synergistic whole-food benefit to athletic performance, while high dosages through supplements could interfere with acute stress that is natural to improve performance. This is yet another reason to eat a nutrient and plant-rich diet like the Mediterranean one.
    </p>
    <br />
    <p style="text-align: left ;">
        Findings like this highlight that athletes and otherwise fit individuals can still benefit from focusing on healthful eating habits.
    </p>
    <br />
    <p style="text-align: center ; font-size: 30px ; " class=" border border-5">
        PERFORMANCE BENEFITS OF THE MEDITERRANEAN DIET
    </p>
    <br />
    <p style="text-align: left ;">
        Reap the health and athletic benefits by adopting a Mediterranean eating style. Simply increase the amount of flexible, seasonal and balanced in macronutrients with these nine simple ways to started:
    </p>

    <ol style="text-align: left ;">
        <li>
            Start the day with a tall glass of water.

        </li>

        <li>
             Cook with olive oil and use it for dressings/marinades.

        </li>
           

        <li>
            Treat meat and dairy as a side dish, not the main dish.


        </li>
        

        <li>
            Add a vegetable (or two to every plate).
        </li>

         <li>
            Replace bottled sauces with herbs and spices.
        </li>

        <li>
            Shop at your local farmers market.

        </li>

        <li>
            Aim for one vegetarian dish a day.

        </li>

        <li>
            Pair your dish with a glass of wine, but skip the sugary mixed drinks.

        </li>

        <li>
            Take a walk after meals to help aid digestion.

        </li>
    </ol>
</div>
</div>