
@{
    ViewData["Title"] = "Mood";
}

<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">


<h1 style="color: #8DA242; text-align: center ; "> <b>  The Performance Benefits of the Mediterranean Diet </b></h1>
<br />
<div class="container" style="text-align: center ; max-width: 650px ;">
    <img src="/image/MOOD.png" />
    <br />
    <br />
    <p style="text-align: left ;">
        From hours at a desk to a weekend of binge watching Netflix, the average adult spends 6 1/2 hours per day sitting. The sedentary behavior has been linked to a host of health issues from high blood pressure and heart disease to diabetes and obesity; several studies have also linked sitting with an increased risk of depression.
    </p>

    <br />
    <p style="text-align: center ; font-size: 30px ; " class=" border border-5">
        THE DEPRESSION-SITTING LINK
    </p>
    <br />
     <p style="text-align: left ;">
         One study found symptoms of depression were three times higher among women who sat for seven or more hours each day. Additional research showed workers who spent most of their days at a desk scored higher on tests measuring psychological distress.
    </p>
    <br />
    <p style="text-align: left ;">
        A 2020 study published in The Lancet Psychiatry found an additional 60 minutes of light activity at age 12 was linked to a 10% reduction in depressive symptoms at age 18. Though the study looked at adolescents, study co-author Aaron Kandola, a graduate student at the University College London believes adults who spend less time sitting will also experience mental health benefits.
    </p>
    <br />
    <p style="text-align: center ; font-size: 30px ; " class=" border border-5">
        THE MOOD BENEFITS OF MOVEMENT
    </p>
    <p style="text-align: left ;">
        “Physical activity has a profound impact on the brain and can improve the way it functions,” Kandola says. “It also reduces inflammation and other forms of stress on the body that are potentially involved in depression.”
    </p>
    <br />

    <p style="text-align: left ;">
        Compared with prolonged periods of sitting, new research published in the American Journal of Preventive Medicine found engaging in light exercise was linked with lower stress, improved mood and reduced BMI.
    </p>
    <br />

    <p style="text-align: left ;">
        Unlike moderate-to-high-intensity workouts, which are the focus of most of the research on exercise and mood, study co-author Jacob D. Meyer, PhD, assistant professor and director of the Wellbeing and Exercise Laboratory at Iowa State University, found that even “light” activities like walking, doing the dishes, folding laundry and other household chores are better than sitting for improving mood.
    </p>
    <br />

    <p style="text-align: left ;">
        “It is possible that the more people participate in light activity, the more engaged they are overall which is associated with better mood,” he explains. “It is also possible that being sedentary — spacing out while watching television — is not a period of time when people’s mood is particularly high so any light activity might be more beneficial for someone’s mood than the alternative sedentary activity.”
    </p>
    <br />

    <p style="text-align: left ;">
        You might not be able to walk to work or trade a desk job for a more active career but there are ways to incorporate more movement into your day. Schedule walking meetings or trade time in front of the television for active hobbies like gardening — even walking around during phone calls or ironing while watching TV can have an impact on your mood.
    </p>
    <br />

    <p style="text-align: left ;">
        At work, consider a standing desk. Not only do you burn more calories working at a standing desk, research published in the journal Preventive Medicine showed those who worked at standing desks showed improvements in their mood.
    </p>
    <br />

    <p style="text-align: center ; font-size: 30px ; " class=" border border-5">
        SLEEP VERSUS SITTING
    </p>
    <br />

      <p style="text-align: left ;">
        Even substituting sedentary behavior for sleep was associated with lower stress and better mood — a finding that does not surprise Meyer.
    </p>
    <br />

    <p style="text-align: left ;">
        “While muscles may be similarly disengaged during both sleep and sedentary behaviors, there are many different processes that go on during sleep that make sleep distinct from sedentary time,” he says. “Put into the present study’s context, the finding that if people slept more in place of sedentary time, that was associated with better mood and stress, supports that idea that sleep and sitting are unique behaviors with independent effects on health.”
    </p>
    <br />

    <p style="text-align: center ; font-size: 30px ; " class=" border border-5">
        THE BOTTOM LINE
    </p>
    <br />
      <p style="text-align: left ;">
          “The research … offers us an opportunity to see how different alterations in our days might affect not only our physical but also our mental health,” Meyer says. “The alterations don’t necessarily need to be swapping that time for going for a run, as subtle changes with swapping sitting for light activity — even standing — still appear to be potentially important for your mental health.
    </p>
    <br />

     <p style="text-align: left ;">
         Start a new exercise routine if you want, but don’t discount making the little changes as they have the potential to also have an important impact.”
    </p>
    <br />
</div>

          </div>