
@{
    ViewData["Title"] = "Pie_vegg";
}


<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">

<div class="row no-gutters" style="text-align: center ;">
    <div class="col">
        <div class="leftside1">
            <h1 style="text-align: center ; font-size: 40px ;">
                Vegetarian Cottage Pie
            </h1>
            <br />
            <br />
            <p style="text-align: center ;">
                This deliciously comforting, healthy cottage pie, packed full of vegetables, has you sorted for winter! It's great for meal prepping or weeknight dinners.
        </div>
        <div class="leftside2">
            <h3 style="text-align: left ;">
                <b>
                    Ingredients
                </b>
            </h3>
            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style=" margin-inline-start: 30px ; font-size: 20px ;">

                <p style="text-align: left ;">
                    1 onion, chopped
                </p>

                <p style="text-align: left ;">
                    1 stick celery, chopped
                </p>

                <p style="text-align: left ;">
2 Tbsp Wattie's Tomato Paste
                </p>

                <p style="text-align: left ;">
                    1 cup diced pumpkin (150g)
                </p>

                <p style="text-align: left ; ">
1 cup diced carrots (150g)
                </p>

                <p style="text-align: left ;">
                    1 cup diced kumara (150g)
                </p>

                <p style="text-align: left ; ">
400g can Wattie's Cannellini Beans in Springwater,* drained
                </p>


                <p style="text-align: left ;">
                    400g can Wattie's Savoury Tomatoes
                </p>

                <p style="text-align: left ;">
                    Handful fresh parsley leaves, chopped
                </p>
                <h5 style="text-align: left ;">
                    <b>
                        Mashed Potatoes:
                    </b>
                </h5>

                <p style="text-align: left ; ">
                    750g potatoes, peeled and chopped
                </p>

                <p style="text-align: left ;">
                    25g butter
                </p>

                <p style="text-align: left ; ">
                    2 Tbsp milk
                </p>

                <p style="text-align: left ; ">
                    ½ cup grated low fat cheese
                </p>

            </div>
        </div>


    </div>

    <div class="col">
        <div class="rightside1">
            <img src="/Image/Veg-Cottage-Pie.png" width="300px" height="250px" />
            <br />
            <br />

        </div>
        <div class="rightside2">
            <h3 style="text-align: left ;">
                <b>
                    Method
                </b>
            </h3>

            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style="margin-inline-start: 30px ; font-size :20px">


                <p style="text-align: left ;">
                    <b>
                        To make the cottage pie:
                    </b>
                </p>

                <h5 style="text-align: left ;">
                    <b>
                        Step 1
                    </b>
                </h5>
                <p style="text-align: left ; max-width: 400px ;">
Heat a dash of oil in a deep lidded frying pan or saucepan. Add onion and celery and cook over a low heat until onion softens. Stir in Wattie's Tomato Paste and cook a further minute.                    <h5 style="text-align: left ;">
                        <b>
                            Step 2
                        </b>

                    </h5>
                <p style="text-align: left ; max-width: 400px ;">
Add pumpkin, carrot, kumara and drained Wattie's Cannellini Beans. Pour over Wattie's Savoury Tomatoes and ½ can of water. Bring to the boil. Reduce heat cover and simmer 25-30 minutes or until vegetables are tender. Stir in chopped parsley.
                </p>
                <h5 style="text-align: left ;">
                    <b>
                        Step 3
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
Add pumpkin, carrot, kumara and drained Wattie's Cannellini Beans. Pour over Wattie's Savoury Tomatoes and ½ can of water. Bring to the boil. Reduce heat cover and simmer 25-30 minutes or until vegetables are tender. Stir in chopped parsley.
                   
                     <h5 style="text-align: left ;">
                        <b>
                           Mashed Potatoes

                        </b>
                    </h5>
               
                <h5 style="text-align: left ;">
                    <b>
                        Step 1
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
                    Cook potatoes in lightly salted boiling water until tender. Drain well. Mash potatoes and mix in butter and milk until smooth and creamy.
            </div>
        </div>

    </div>



</div>
</div>