@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="card my-5">
        <div class="card-body">
            <h1 class="card-title text-center">@ViewData["Title"]</h1>

            <div class="card-text">
                <p>We collect personal information from you, including information about your:</p>
                <ul>
                    <li>Name</li>
                    <li>Contact information</li>
                    <li>Computer or network</li>
                    <li>Interactions with us</li>
                </ul>

                <p>We collect your personal information in order to:</p>
                <ul>
                    <li>Setup personalized user accounts</li>
                    <li>Track your food intake to personalize your calorie intake for the day</li>
                </ul>

                <p>Besides our staff, we share this information with:</p>
                <p>No one in order to ensure that your information is not shared.</p>

                <p>Providing some information is optional. If you choose not to enter your email or password, we won't be able to create an account for you.</p>

                <p>We keep your information safe by storing it in an encrypted database and only allowing authorized staff to view it.</p>

                <p>We keep your information for two years, at which point we securely destroy it.</p>

                <p>You have the right to ask for a copy of any personal information we hold about you and to ask for it to be corrected if you think it is wrong. If you'd like to ask for a copy of your information or have it corrected, please contact us at the Proteine Team.</p>
            </div>
        </div>
    </div>
</div>
