
@{
    ViewData["Title"] = "Rainbow_chicken";
}

<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">

<div class="row no-gutters" style="text-align: center ;">
    <div class="col">
        <div class="leftside1">
            <h1 style="text-align: center ; font-size: 40px ;">
                Rainbow Chicken Slaw
            </h1>
            <p>
                Calories: 268 Kcal
            </p>
            <p>
                Protein: 44g
            </p>
            
                <p>
                    Fat: 22g
                </p>
            <br />
            <br />
            <p style="text-align: center ;">
Tossed with a marvellously simple mayonnaise dressing this rainbow slaw is full of crispy vegetables. It’s a great summer salad, served with paprika garlic chicken and lemon wedges with the option to make it vegan!            </p>
        </div>
        <div class="leftside2">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            <h3 style="text-align: left ;">
                <b>
                    Ingredients
                </b>
            </h3>
            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style=" margin-inline-start: 30px ; font-size: 20px ;">
                <h5 style="text-align: left ;">
                    <b>
                        Grilled paprika garlic chicken:
                    </b>
                </h5>
                <p style="text-align: left ;">
                    2 tsp ground paprika
                </p>

                <p style="text-align: left ;">
                    2 cloves garlic, crushed
                </p>

                <p style="text-align: left ;">
                    2 ½ Tbsp olive oil
                </p>

                <p style="text-align: left ;">
2 chicken breast, cut in half horizontally
                </p>

                <h5 style="text-align: left ;">
                    <b>
                        Mayonnaise dressing:
                    </b>
                </h5>


                <p style="text-align: left ; ">
                    ⅓ cup Heinz® [SERIOUSLY] GOOD™ Original Mayonnaise
                </p>

                <p style="text-align: left ;">
                    Juice of ½ lemon
                </p>

                <h5 style="text-align: left ;">
                    <b>
                        Slaw:
                    </b>
                </h5>
                <p style="text-align: left ; ">
                    1 red apple, cut into matchsticks
                </p>

                <p style="text-align: left ;">
                    1 carrot, cut into matchsticks
                </p>

                <p style="text-align: left ;">
                    2 cups shredded green cabbage
                </p>

                <p style="text-align: left ; ">
                    2 cups shredded red cabbage
                </p>

                <p style="text-align: left ;">
Handful of coriander leaves, chopped
                </p>

                <p style="text-align: left ;">
                    ½ lemon, cut into wedges
                </p>
            </div>
        </div>


    </div>

    <div class="col">
        <div class="rightside1">
            <img src="/Image/Rainbow_chickenSalad.png" width="300px" height="250px" />
            <br />
            <br />

        </div>
        <div class="rightside2">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            <h3 style="text-align: left ;">
                <b>
                    Method
                </b>
            </h3>

            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style="margin-inline-start: 30px ; font-size :20px">


                <h5 style="text-align: left ;">
                    <b>
                        Step 1
                    </b>
                </h5>
                <p style="text-align: left ; max-width: 400px ;">
Combine paprika, garlic and olive oil in a large bowl. Season with salt and pepper. Add the chicken and toss to coat.                </p>
                <h5 style="text-align: left ;">
                    <b>
                        Step 2
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
                    Heat a dash of oil in a frying pan over medium-high heat. Cook the chicken for 4-5 minutes on each side or until golden brown and cooked through. Set aside to rest, then slice.
                </p>
                <h5 style="text-align: left ;">
                    <b>
                        Step 3
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
                    To make the mayonnaise dressing combine mayonnaise and lemon juice. Season with salt and pepper.
                </p>
                <h5 style="text-align: left ;">
                    <b>
                        Step 4
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
                    Toss together the apple, carrot, red cabbage, green cabbage, sliced chicken and mayonnaise dressing.
                </p>

                <h5 style="text-align: left ;">
                    <b>
                        Step 5
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
                    Transfer to a serving bowl or platter. Garnish with coriander and lemon wedges to serve.
                </p>
            </div>
        </div>

    </div>



</div>





</div>