
@{
    ViewData["Title"] = "Sleep";
}

<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">

<h1 style="color: #8DA242; text-align: center ; "> <b>What to Eat and Avoid For Better Sleep </b></h1> 

<br />
<br />


<div class="container" style="text-align: center ; max-width: 650px ;">
   <img src="/Image/Sleep.png" />



    <br />

    <p style="text-align: left ;">
        Elite and professional athletes know habits off the court (road/track/rink/field/etc…) are just as important as the actual training. This is because secondary lifestyle habits such as stretching, diet, stress and sleep can heavily influence performance outcomes.
    </p>
    <br />

    <p style="text-align: left ; ">
        Sleep is one habit elite athletes take very seriously; many go to sleep clinics, track sleep, have naps integrated into training schedules, and aim for 10–12 hours a day of shut eye. This attention is paid to sleep quality and quantity due to the known health, performance and body composition benefits good sleep provides and the harmful effects of poor sleep
    </p>
    <br />

    <p style="text-align: left ;">
        Being in a chronically fatigued state is known to impair skill-based tasks as well as hinder endurance activities and increase risk of illness and injury. Acute fatigue can ramp up the inflammatory stress hormone cortisol, responsible for abdominal fat storage, hinders fuel utilization and impairs appetite control. This type of tiredness is also responsible for increasing the urge to grab sugar-loaded snacks to act as a temporary energy boost.
    </p>
      <br />

    <p style="text-align: left ;">
        Simple advice: Sleep more!
    </p>

    <br />
    <p style="text-align: left ;">
        That’s easier said than done with busy, stressed out lifestyles. Most recreational athletes do not have the luxury of daytime naps or 10-hour nights, but there are a few things you can do to increase the quality of your shut eye. You might be surprised to learn dietary practices play a large role in avoiding the downfalls of fatigue and reaping the benefits of good sleep.
    </p>
    <br />
    <p style="text-align: center ; font-size: 40px ; " class=" border border-5">
        Caffeine
    </p>
    <img src="/Image/Coffee1.png"  width="300px"/>
      <br />

    <p style="text-align: left ;">
        This stimulant is great for instantly perking you up; however, with a lifespan of around seven hours, consuming it late in the day can seriously disrupt sleep. Aim to stop caffeine consumption by 2 p.m. This rule applies to coffee, espresso, soda, energy drinks, some teas and chocolate.
    </p>
    <br />

    <p style="text-align: center ; font-size: 40px ; " class=" border border-5">
        Alcohol
    </p>
    
    <img src="/Image/Alcohol1.png" width="300px" />
    <br />
    <p style="text-align: left ;">
            Besides providing empty calories, alcohol consumption has another downfall for athletes: reduced sleep quality. The effects of alcohol on sleep is extensive. For physically active individuals, alcohol intake can negatively influence heart rate variability (HRV), an important metric for evaluating recovery between training. If you want to indulge, don’t drink every night, keep the dose low (try a spritz) and consume your beverage earlier in the day and with a balanced meal.
    </p>
    <br />
    <p style ="text-align: center ; font-size: 40px ; " class=" border border-5">
        HEAVY MEALS
    </p>
    <img  src="/Image/HeavyMeal1.png" width="300px">
    <br />
    <p style="text-align: left ;">
Large portions, heavy in protein and fat, can create the sensation of being overly full. When the stomach is full of slow-digesting foods, there can be a distended, uncomfortable feeling that doesn’t help sleep. Large meals also cause an increase in body temperature, which contradicts the natural drop in body temperature that happens during sleep. While a heavy meal can create a fatigued, sluggish feeling, it does not promote deep sleep and actually increases restlessness during the night. Having a large breakfast and smaller evening meal may promote better sleep.
    </p>
    <br />
    <p style="text-align: center ; font-size: 40px ; " class=" border border-5">
        HUNGER
    </p>
    <p style="text-align: left ;">
        Just as the extreme of heavy meals can reduce sleep quality, research shows low-calorie intake throughout the day can also promote poor sleep. Athletes attempting to meet image and body composition demands of their sport by severe calorie restriction are likely to wake up more frequently throughout the night feeling hungry. Tracking your caloric intake with MyFitnessPal is a great way to ensure you stay within a moderate (500-calorie) deficit to promote good sleep while working on dropping weight.
    </p>
    <br />
    <p style ="text-align: center ; font-size: 40px ; " class=" border border-5">
        SOLIDS VERSUS LIQUIDS
    </p>
    <p style="text-align: left ;">
        Research has been done on whether calories provided before bed in the form of a solid meal or liquid one would promote better sleep. While more studies can always be done, right now the solid meal beats out liquid ones to improve restful slumber. Save your meal replacement shakes for earlier in the day to boost zzz’s.
    </p>
    <br />
    <p style="text-align: center ; font-size: 40px ; " class=" border border-5">
        MACRONUTRIENTS
    </p>
    <p style="text-align: left ;">
        Luckily, there have been studies on what kind of macros to eat for better sleep. Meals heavier in protein result in longer, but less restful, sleep while meals heavier in carbohydrates result in faster sleep onset times (falling asleep more quickly). Both of these can be thought of as overall positive effects. The only macronutrient that seems to overall negatively affect sleep is a high-fat meal. It was even discovered that ketosis (the effect of consuming high fats and very low carbohydrates) reduces time spent in REM sleep.
    </p>
    <br />
    <p style="text-align: center ; font-size: 40px ; " class=" border border-5">
        MICRONUTRIENTS
    </p>
      <p style="text-align: left ;">
        There are many vitamins and minerals that play a role in the quality of sleep. Tryptophan, selenium, potassium, vitamin B6, vitamin B12, calcium, magnesium and vitamin D all have been linked to promoting sleep through a variety of mechanisms including regulating hormones, increasing serotonin and melatonin production, decreasing inflammation and promoting natural circadian rhythms. The best way to improve your sleep naturally is to have a well-balanced diet with plenty of variety.
    </p>
    <br />
    <p style="text-align: center ; font-size: 40px ; " class=" border border-5">
        SUPPLEMENTS
    </p>
    <p style="text-align: left ;">
        If you seem to be plagued with restless nights, supplements might provide some temporary relief. There are many natural, over-the-counter supplements including sprays, pills, teas and food products laced with ingredients that can promote getting to and staying asleep.
    </p>
    <br />
    <p style="text-align: left ;">
        Compounds that may help include valerian root, melatonin, vitamin D, chamomile, theanine, magnesium, kava and skullcap. While these substances are natural and generally safe, keep in mind supplements are unregulated and should be used sparingly.
    </p>
    <br />
    <p style="text-align: left ;">
        A diet that is balanced in macronutrients, includes a variety of colorful plants and isn’t overly restrictive is your best shot at eating well for sleep. Beyond that, you can up your sleep-diet game by eating a smaller dinner rich in complex carbohydrates roughly four hours prior to getting to bed.
    </p>
    <br />
    <p style="text-align: left ;">
        Also try to avoid heavy food, alcohol and caffeine late in the day. Of course there are a number of factors other than diet that can have profound effects on sleep quality such as stress, comfort, temperature and light that should be addressed as part of a good sleep routine.
    </p>



</div>


</div>