
@{
    ViewData["Title"] = "Spanish_pisto";
}

<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">

<div class="row no-gutters" style="text-align: center ;">
    <div class="col">
        <div class="leftside1">
            <h1 style="text-align: center ; font-size: 40px ;">
                Spanish Pisto
            </h1>
            <br />
            <br />
            <p>
                Calories: 127 Kcal
            </p>
            <p>
                Protien: 2g
            </p>
            <p>
                Fat: 9.8g
            </p>
            <p style="text-align: center ;">
Spanish Pisto - a tasty twist on a hearty vegetable stew. This tasty mix of fresh, seasonal vegetables baked with eggs is a staple for the colder months. Serve with ciabatta to soak up every last bit of goodness.            </p>
        </div>
        <div class="leftside2">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            <h3 style="text-align: left ;">
                <b>
                    Ingredients
                </b>
            </h3>
            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style=" margin-inline-start: 30px ; font-size: 20px ;">
                <p style="text-align: left ;">
                    400g can Wattie's Chickpeas in Springwater
                </p>

                <p style="text-align: left ;">
                    ¼ cup olive oil
                </p>

                <p style="text-align: left ;">
                    1 red onion, diced
                </p>

                <p style="text-align: left ;">
                   2 cloves garlic, chopped
                </p>

                <p style="text-align: left ; ">
                    1 red pepper, diced
                </p>

                <p style="text-align: left ;">
                   1 yellow pepper, diced
                </p>

                <p style="text-align: left ; ">
                    1 small eggplant, diced into 1 cm pieces
                </p>

                <p style="text-align: left ;">
                    ½ tsp salt
                </p>

                <p style="text-align: left ;">
                    400 g can Wattie's Crushed and Sieved Tomatoes
                </p>

                <p style="text-align: left ; ">
                    ½ cup water
                </p>

                <p style="text-align: left ;">
                    4 Eggs
                </p>

                <p style="text-align: left ;">
                    2 Tbsp chopped parsley
                </p>
            </div>
        </div>


    </div>

    <div class="col">
        <div class="rightside1">
            <img src="/Image/spanish_Something.png" width="300px" height="250px" />
            <br />
            <br />

        </div>
        <div class="rightside2">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            <h3 style="text-align: left ;">
                <b>
                    Method
                </b>
            </h3>

            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style="margin-inline-start: 30px ; font-size :20px">


                <h5 style="text-align: left ;">
                    <b>
                        Step 1
                    </b>
                </h5>
                <p style="text-align: left ; max-width: 400px ;">
Heat the olive oil in a large, deep frying pan over medium low heat. Add the onion, garlic, red pepper and yellow pepper and cook for 10 minutes, until well softened. Add the eggplant and salt and cook for a further 5 minutes until the eggplant softens and has absorbed the oil.                </p>
                <h5 style="text-align: left ;">
                    <b>
                        Step 2
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
                    Stir in the Wattie's Crushed and Sieved Tomatoes and water. Bring to the boil then simmer for 10 minutes until the eggplant is very soft and the sauce is thick. Season to taste with pepper.
                </p>
                <h5 style="text-align: left ;">
                    <b>
                        Step 3
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
Meanwhile, preheat the oven to 200C. Spoon the hot pisto mixture into one large or 4 small oven proof dishes. Make wells in the pisto mixture for the eggs to sit in. Crack an egg into each well.                </p>
                <h5 style="text-align: left ;">
                    <b>
                        Step 4
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
Bake the pisto in the oven for 8 to 10 minutes, until the egg whites are cooked but the egg yolks are still runny. Garnish your spanish pisto with chopped parsley.                </p>
              
            </div>
        </div>

    </div>



</div>

</div>