
@{
    ViewData["Title"] = "Veggie_nachos";
}
<div style=" background-color:#ffff; padding:25px; border-radius:45px; box-shadow: 15px 15px 20px rgba(0,0,0,0.05);">

<div class="row no-gutters" style="text-align: center ;">
    <div class="col">
        <div class="leftside1">
            <h1 style="text-align: center ; font-size: 40px ;">
                Veggie Nachos
            </h1>
            <P>
                Calories: 215 Kcal
            </P>
            <p>
                Protein: 41g
            </p>
            <p>
                Fat: 68g
            </p>
            <br />
            <br />
            <p style="text-align: center ;">
                5 ingredient & kind on the wallet, veggie nachos!
        </div>
        <div class="leftside2">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            <h3 style="text-align: left ;">
                <b>
                    Ingredients
                </b>
            </h3>
            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style=" margin-inline-start: 30px ; font-size: 20px ;">
                <p style="text-align: left ;">
                    420g can Wattie's Chilli Beans Mild
                </p>

                <p style="text-align: left ;">
400g can Wattie's Mexican style Tomatoes
                </p>

                <p style="text-align: left ;">
                    400g can Wattie's Lentils in spring water
                </p>

                <p style="text-align: left ;">
                    Corn chips of preference
                </p>

                <p style="text-align: left ; ">
                    100g grated cheese
                </p>

                <p style="text-align: left ;">
                    125g Sour cream *optional*
                </p>

            </div>
        </div>


    </div>

    <div class="col">
        <div class="rightside1">
            <img src="/Image/Nacho_veggie.png" width="300px" height="250px" />
            <br />
            <br />

        </div>
        <div class="rightside2">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            <h3 style="text-align: left ;">
                <b>
                    Method
                </b>
            </h3>

            <hr style="height 5px; width: 500px ;" />
            <br />

            <div style="margin-inline-start: 30px ; font-size :20px">


                <h5 style="text-align: left ;">
                    <b>
                        Step 1
                    </b>
                </h5>
                <p style="text-align: left ; max-width: 400px ;">
                    Drain & rinse lentils.
                    <h5 style="text-align: left ;">
                    <b>
                        Step 2
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
                    In a non-stick pan, add tomatoes, chilli beans & lentils. Stir to combine & season with salt & pepper. Bring to a simmer.
                </p>
                <h5 style="text-align: left ;">
                    <b>
                        Step 3
                    </b>

                </h5>
                <p style="text-align: left ; max-width: 400px ;">
                    Plate up corn chips & spoon over lentil mix. Sprinkle cheese over the top & add a dollop of sour cream.
                    </p>
                
            </div>
        </div>

    </div>



</div>
</div>
