@page
@model ForgotPasswordConfirmation

@{
  
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="forgotpasscenter">
<h1> @ViewData["Title"]</h1>

<p>
    Please check your email to reset your password. If you cannot find the email, please check your spam folder.
</p>
    <img src="~/Image/Happy people.jpg" class=" forgotpasscenter" width="900px" alt="Happy People">

</div>
<style>
    .forgotpasscenter {
        text-align: center;
        align-content: center;
    }
</style>
