html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
   background-color: #F7F4E9;
   /* background-color: #FAF0DC;*/
}

.aboutmealign {
    margin-right: 300px;
    margin-left: 300px;
}

.layoutalign {
    margin-top: 120px;
    margin-left: 60px;
    margin-right: 60px;
}
.buttonsize {
    font-size: 25px;
}

h1 {
    color: #8DA242;
}

.navbar{
   margin-top: -10px;
    margin-bottom:30px;
}