html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.aboutmealign {
    margin-right: 300px;
    margin-left: 300px;
}

.layoutalign {
    margin-top: 120px;
    margin-left: 60px;
    margin-right: 60px;
}
.buttonsize {
    font-size: 25px;
}
