@model Capstone_23_Proteine.Models.AboutMeViewModel

@{
    ViewData["Title"] = "AboutMe";
}

<link href="~/css/site.css" rel="stylesheet" />

<div class="text-center">
    <h1> About Me </h1>
</div>
<div class="row">
    <div class="col" style="margin-inline-start:220px;">
        <div class="leftsideabtme">
            <div style="display: flex; align-content:center;">
                <!-- this is for the user's name -->
                <form method="post" action="AboutMe" onsubmit="return validateForm()">
                    <div class="text-left">
                        <div>
                            <label for="FirstName">First name:</label>
                            <input type="text" class="form-control" id="FirstName" name="FirstName" required><br>
                            <label for="LastName">Last name:</label>
                            <input type="text" class="form-control" id="LastName" name="LastName" required><br>
                        </div>
                        <!-- This is for the user's gender -->
                        <div>
                            <label for="Gender">Select your Gender:</label>
                            <select name="Gender" class="form-control" id="Gender" requiredz>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Prefer not to say">Prefer not to say</option>
                            </select><br>
                        </div>
                        <!-- This is for the user's height -->
                        <div>
                            <label for="Height">Height in CM:</label>
                            <input type="number" class="form-control" id="Height" name="Height" required><br>
                        </div>
                        <!-- This is for the user's weight -->
                        <div>
                            <label for="Weight">Weight in KG:</label>
                            <input type="number" class="form-control" id="Weight" name="Weight" required><br>
                        </div>
                        <!-- This is for the user's date of birth -->
                        <div>
                            <label for="DateOfBirth">Date Of Birth:</label>
                            <input type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" required><br>
                        </div>
                        <!-- This is for the user's dietary options -->
                        <div>
                            <label for="DietaryOptions">Dietary Options:</label>
                            <select name="DietaryOptions" class="form-control" id="DietaryOptions">
                                <option value="n/a">n/a</option>
                                <option value="Vegetarian">Vegetarian</option>
                                <option value="vegan">Vegan</option>
                                <option value="gluten-free">Gluten-Free</option>
                                <option value="dairy-free">Dairy-Free</option>
                                <option value="kosher">Kosher</option>
                                <option value="halal">Halal</option>
                                <option value="pescatarian">Pescatarian</option>
                                <option value="low-carb">Low-Carb</option>
                                <option value="low-fat">Low-Fat</option>
                                <option value="organic">Organic</option>
                                <option value="raw">Raw</option>
                                <option value="sugar-free">Sugar-Free</option>
                            </select><br>
                        </div>
                        <!-- This is for the user's activity -->
                        <div>
                            <label for="UserActivity">User Activity:</label>
                            <select name="UserActivity" class="form-control" id="UserActivity">
                                <option value="Not Active">Not Active</option>
                                <option value="Medium Active">Medium Active</option>
                                <option value="Regular Active">Regular Active</option>
                            </select><br>
                        </div>
                        <!-- This is for the submit button -->
                        <div>
                            <button style="width: 150px; margin-left: 200px; background-color: green; border-color: green;" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <script>
                function validateForm() {
                    // Get values from inputs
                    var firstName = document.getElementById("FirstName").value;
                    var lastName = document.getElementById("LastName").value;
                    var gender = document.getElementById("Gender").value;
                    var height = document.getElementById("Height").value;
                    var weight = document.getElementById("Weight").value;
                    var dateOfBirth = document.getElementById("DateOfBirth").value;
                    var dieteryOptions = document.getElementById("DietaryOptions").value;
                    var userActivity = document.getElementById("UserActivity").value;

                    // Makes sure all fields are valid
                    if (!firstName || !lastName || !height || !weight|| !dieteryOptions) {
                        alert("All fields are required.");
                        return false; // Stops form submit
                    }

                    return true; // Form submits
                }
            </script>
        </div>
    </div>
    <!-- This is for the image alignment -->
    <div class="col" style="margin-inline-end:120px; padding-top:70px;">
        <div class="rightsideabtme">
            <img src="~/Image/Infographicfood.png" class="width=" 450" height="550" />
        </div>
    </div>
</div>
