@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<div class="center">
<h1>@ViewData["Title"]</h1>

<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
</div>

<style>
    .center {
        margin: 0;
        top: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(33%, 35%);
        align-content: center;
    }

    .forgotpasscenter {
        text-align: center;
        align-content: center;
    }
</style>